@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

body {
    padding: 0;
    margin: 0;
    color: darkgrey;
    font-family: 'Merriweather', serif;
}

/* Header */

.header_wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e, #186971,
            #0f454e, #092b32, #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e, #186971, #0f454e, #092b32,
            #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e,
            #186971, #0f454e, #092b32);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 20s ease-in-out infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social_media {
    margin-top: 1rem;
    display: flex;
}

.social_media a {
    text-decoration: none;
    color: darkgrey;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid darkgrey;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #050404;
    background-color: darkgrey;
}

@keyframes backgroundTransition {
    0% {
        background-position: 30% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 30% 80%;
    }
}

/* MENU HAMBURGUER */

.checkbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: darkgrey;
    position: absolute;
    border-radius: 4px;
    transition: .5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px darkgrey;
    z-index: -1;
    transition: 600ms ease-in-out 0s;
}

.menu_items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu_items ul {
    list-style-type: none;
}

.menu_items ul li a {
    margin: 10px 0;
    color: #012e41;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #012e41;
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #012e41;
    top: 47px;
}

#toggle:checked+.checkbox {
    background-color: darkgrey;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 95vmax darkgrey;
    z-index: 1;
}

#toggle:checked~.menu_items {
    visibility: visible;
    opacity: 1;
    transition-delay: 200ms;
}

/* CARDS */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.card_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    margin-left: 10%;
    margin-right: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: darkgrey;
    cursor: pointer;
    transition: .3s;
}

.card a{
    text-decoration: none;
    background: transparent;
}

#card_1 {
    background-image: url(assets/github.jpg);
}

#card_2 {
    background-image: url(assets/career.jpg);
}

#card_3 {
    background-image: url(assets/hanna2.jpg);
}

.card_text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #0f454e;
}

.card_text:nth-child(1) {
    margin-left: 10%;
}

.card_text:nth-child(2) {
    margin-right: 10%;
}

.card_text:nth-child(3) {
    margin-left: 10%;
}

.card_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card_wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #1d828b;
    opacity: 0;
    transition: .3s;
}

.card_wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #1d828b;
    letter-spacing: 4px;
    margin: 0;
    transition: .3s;
}

.card_wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    color: #1d828b;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

.card:hover {
    filter: unset;
}

.card:hover a>.card_wrapper::before {
    height: 250px;
    width: 350px;
    opacity: 1;
}

.card:hover a>.card_wrapper p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/* FOOTER */

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e, #186971,
            #0f454e, #092b32, #092b32, #0f454e, #186971, #0f454e, #092b32, #092b32, #0f454e, #186971, #0f454e, #092b32);
}

/* RESPONSIVO */

@media (max-width: 800px) {
    .social_media {
        display: flex;
        flex-direction: column;
    }

    .header_wrapper {
        background-size: 400% 200%;
        animation: backgroundTransition 10s ease-in-out infinite;
    }

    .header_wrapper h1{
        text-align: center;
    }

    .container {
        margin-top: 0;
    }

    .card_container {
        flex-direction: column;
    }

    .container .card_container:nth-child(1),
    .container .card_container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 300px;
    }

    .card_text{
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card_wrapper h2{
        font-size: 25px;
    }

    .card_wrapper p{
        font-size: 7px;
    }

    .card:hover a> .card_wrapper::before{
        height: 190px;
        width: 240px;
    }
}